<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Búsqueda de Personas</h1>
            </div><!-- /.col -->
       <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard/">Inicio</a></li>
              <li class="breadcrumb-item active">Búsqueda</li>
            </ol>
          </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Catálogo</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-striped table-bordered dataTable display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE(S) COMPLETO</th>
                                <th>MUNICIPIO</th>
                                <th>CARGO</th>
                                <th>SECCION ELECTORAL</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each search}}
                            <tr>
                                <td>{{'clvpersona'}}</td>
                                <td>{{'nombre'}} {{'apellidop'}} {{'apellidom'}}</td>
                                <td>{{'nombremunicipio'}}</td>
                                <td>{{'nombrecargo'}}</td>
                                <td>{{'seccelectoral'}}</td>
                                <td align="center"><a href="/dashboard/showprofile/{{{'clvpersona'}}}"  class="">
                                    <i class="search fa fa-user"></i>
                                </a></td>
                            </tr>
                            {{/each}}


                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- DataTables -->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js"></script>
<!-- page script -->
<script>

    $('#example1').DataTable({
         "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "Sin registros...",
            "info": "Mostrando página... _PAGE_ de _PAGES_",
            "infoEmpty": "Sin entradas disponibles",
            "infoFiltered": "(filtrando from _MAX_ total records)"
        },
        "responsive": true,
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false
    });

</script>

<!-- page script -->